@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Rubik", Arial, Helvetica, sans-serif;
	font-size: 62.5%;
}

body {
	display: flex;
	justify-content: center;
	align-self: center;
	min-height: 100vh;
	background: #222;
}

.container {
	position: relative;
	max-width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
	grid-template-rows: minmax(10rem, auto);
	margin: 4rem;
	grid-auto-flow: dense;
	gap: 1rem;
}

.box {
	background: #333;
	color: #929796;
	padding: 2rem;
	display: grid;
	place-items: center;
	font-size: clamp(3rem, 4vw, 4.5rem);
	text-align: center;
	color: #f8f8ff;
	transition: 0.5s;
	border-radius: 1rem;
}

.box:hover {
	background: #e91e63;
}

img {
	width: 100%;
	max-width: 10rem;
	height: auto;
	position: relative;
	margin-bottom: 1rem;
}
